<h3>Total items in the cart: <%= @cart.count %> </h3>
<button onclick="location.href='cart/increment';">add</button>
<button onclick="location.href='cart/decrement';">delete</button>


<h4>  <%= @cart.status %> </h4>
